[2020-06-05 10:08] bacco007 opened #3 "Sensor not updating on restart"
I've noticed that after restarting HA, the sensor doesnt download new data and stays on 0 for a period of time.

There is no error in the logs - which suggests that it could be related to the use of `@Throttle` for the update function

[2020-06-15 04:58] lewisbenge commented on #3
Fixed in the recent commit.

[2020-06-16 22:56] stuarts0011 opened #6 "Could you add the controlled load tariff?"
This is great work. Thanks so much!

[2020-06-22 00:00] stuarts0011 opened #7 "Sensor is returning the price in the previous period."
The sensors are displaying the price for the preceding 30 minute period, not the current.

This is also reflected in the fact that there are two attribute readings for the ACTUAL price, but the first is for the preceding period.  The second is the correct one and what the sensor should be returning.

[2020-06-22 12:40] rbhr commented on #6
+1 to the request and ++1 for the great work!

[2020-06-27 02:11] stuarts0011 commented on #7
To fix this, in Lines 82 and 87 of senor.py change "0" to "1"

[2020-06-27 12:49] adavis59 commented on #7
What about a way to compare if price displayed is accurate with Post code set/time zone?

[2020-06-27 13:01] adavis59 opened #8 "Not Updating"
When reveiwing the State of "sensor.amber_general_usage_price" entity.
last_update: '2020-06-27 12:48:17
State: 20.53

As you can see below, True time is 22.31.

  - pricing_period_type: ACTUAL
    pricing_period: '2020-06-27 23:00:00'
    renewable_percentage: 0.05
    price: 22.54
  - pricing_period_type: FORECAST
    pricing_period: '2020-06-27 23:30:00'
    renewable_percentage: 0.05

[2020-06-28 02:04] stuarts0011 commented on #8
No its working correctly. the ACTUAL reading is the current forecast average price for the 30 minute period ending 23:00:00. It gets updated about every 5 minutes as the wholesale price changes.

[2020-06-28 07:55] adavis59 commented on #8
Readme says:
_"...2 sensors added to your Home Assistant entities list, one reflects the current solar feed-in tarrif, and the second is the real-time grid price charged by Amber..._"

It is not displaying Current Solar feed-in tarrif, or Rear-time grid price.

AMBER app/ website real-time grid pirce:  **32 c/kWh.**
Time right now:  **17:22**

Price being displayed in Hass.io is **21.59 c/kWh.**
l

[2020-06-28 11:02] stuarts0011 commented on #8
Look at my response to the other issue. You need to amend sensor.py

[2020-07-04 07:47] adavis59 commented on #6
+1 to the request !

[2020-07-18 08:18] stuarts0011 opened #10 "Sensor is not booting anymore - "TypeError: Parser must be a string or character stream, not NoneType""
Logger: homeassistant.components.sensor
Source: custom_components/amberelectric/ambermodel.py:41
Integration: Sensor (documentation, issues)
First occurred: 18:05:03 (1 occurrences)
Last logged: 18:05:03

Error while setting up amberelectric platform for sensor
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 178, in _async_setup_pla

[2020-07-20 04:13] stuarts0011 commented on #10
Just saw that this is addressed by a PR.

[2020-07-25 08:14] stuarts0011 commented on #7
It seems that there are no longer two attribute readings for the ACTUAL price, so the reference to "1" does not need to be updated. Amber must be fiddling with their API.

[2020-07-27 08:20] boc-the-git commented on #10
@stuarts0011 PR9 has been merged into master now.

[2020-08-14 02:05] madpilot commented on #7
PR #12 fixes this.

[2020-09-28 06:48] OmgImAlexis commented on #7
@lewisbenge this can be closed, fixed in #12

[2020-09-28 06:48] OmgImAlexis commented on #8
@lewisbenge this can be closed, fixed in #12

[2020-09-30 22:15] OmgImAlexis commented on #10
This can be closed if the PR has been merged.

[2020-10-05 23:36] lewisbenge commented on #6
I've asked the question to Amber to see whether this data is on the API stream and can be exposed in the sensor

[2020-10-05 23:37] #10 closed

[2020-10-05 23:37] #8 closed

[2020-10-05 23:37] #7 closed

[2020-10-05 23:37] #3 closed

[2020-10-05 23:38] joho commented on #6
The data under the E2 key in staticPrices is controlled load

[2020-10-05 23:46] antgeo opened #14 "IndexError: list index out of range"
Getting the following error running this sensor:

Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 292, in async_add_entities
    await asyncio.gather(*tasks)
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.py", line 451, in _async_add_entity
    entity.async_write_ha_state()
  File "/usr/src/homeassistant/homeas

[2020-10-06 00:03] antgeo commented on #14
Attached the json response from Amber's API
[amber.txt](https://github.com/lewisbenge/hass-amber-electric/files/5330672/amber.txt)

[2020-10-06 01:53] lewisbenge commented on #14
Can you please see if the version on the dev branch (https://github.com/lewisbenge/hass-amber-electric/blob/dev/custom_components/amberelectric/ambermodel.py) resolve your issue? On Victorian postcodes it appears the Amber API had not included particular dates in random elements of the response causing null errors. This commit should fix that.

[2020-10-06 02:47] antgeo commented on #14
Resolved. Thanks!

[2020-10-06 02:47] #14 closed

[2020-10-06 04:39] lewisbenge commented on #6
Thanks John! You can close my support ticket now :)

[2020-10-06 05:06] joho commented on #6
I've gone and closed the ticket.

`totalFixedKWHPrice`  is the one you want.

[2020-10-07 08:21] lewisbenge commented on #6
@stuarts0011, @rbhr can you please confirm if you'd like the controlled load value exposed as a 3rd sensor or just a parameter on the existing sensor?

[2020-10-18 08:39] stuarts0011 commented on #6
It would be great to expose as a third sensor. Thanks

On Wed, 7 Oct 2020, 7:21 pm Lewis Benge, <notifications@github.com> wrote:

[2020-10-19 13:30] rbhr commented on #6
That would be fantastic. Thank you!

[2020-10-26 07:20] lewisbenge commented on #6
This sensor has now been added, and has been merged into main under #17

[2020-10-26 07:20] #6 closed

[2021-01-19 03:22] sjwright opened #19 "Potentially useful HA template"
Thanks for a great plug-in.

Here is a simple sensor template that has been very practical for me. I publish this sensor in lovelace as a gauge to see at a glance if it's a suitable time to be starting the dishwasher, laundry etc. I can also imagine many ways where I could use this in automations. For example I could send notification to my phone if the forecast will be going high while the air co

[2021-03-04 04:33] CRCinAU opened #20 "No 'version' key in the manifest file for custom integration 'amberelectric'"
When loading in a recent version of HA:
[code]

Whilst not super urgent, would be preferable to fix early before things suddenly break :)

[2021-03-06 04:55] CRCinAU commented on #19
This works quite well, thanks :)

[2021-03-09 11:35] CRCinAU opened #21 "Timezones in price entities"
I'm pretty sure (although not certain) that the times aren't quite being handled right in the component.

All times in the API are in Brisbane time (EST) with no daylight savings.

When I look at my readings, it seems that the timezone shown is not correct - ie I'm 1hr ahead on AEDT.

Is there a way to correct this?

[2021-03-11 05:42] CRCinAU opened #22 "[Feature Request] Add forecast_0-6 as sensor entities"
Right now, its difficult to try and do HA automations based on the data provided by this sensor and how things apply.

It could be nice to have an entity similar to what the BOM integration has where it provides:
* forecast_0 (today)
* forecast_1 (tomorrow)
* .....

While this would rely on the correct timezone being used (#21), it would allow integrations to look into the future to make decisions

[2021-04-08 07:10] CRCinAU commented on #20
As futher, this will die on release 2021.6:

[code]

[2021-04-10 03:29] bengAThome opened #23 "Minor suggestions to install procedure"
Fantastic project, I'm looking forward to working with it.

However I noticed two things,
Firstly there are three sensors not 2?
Secondly, while obvious to experienced users. After editing configuration.yaml I believe the only way to see the sensors is to restart the core?
I don't think "reload" is an option any more?

Cheers Ben

[2021-04-12 07:14] bengAThome commented on #19
Great work. Thanks for sharing.

[2021-05-03 02:26] darren365 opened #24 "Community Discussion vs Issue"
Any chance Discussions be enabled for this repository? Would be great to have Issues exclusively available for problems and where ideas and general engagement activity surfaced via Discussions.

[https://docs.github.com/en/discussions](https://docs.github.com/en/discussions)

[2021-05-03 03:03] bengAThome commented on #24
Not sure if this project is still active?

It still works for me though. So kudos to lewisbenge!

[2021-05-03 09:45] davewatson91 commented on #24
I haven't dug, but assume there are no active forks? - I'm using it, and would like to see it's continued development!

[2021-05-03 09:54] darren365 commented on #24
Also working for me. Am only new to Home Assistant and this project was the driver for implementing. Only have it showing a dashboard related to current and future pricing (using the information shared here by others), but this is the type of discussion that I'd love to have, understanding how others are using the feed. My intention is to use price level as a trigger for turning off specific devic

[2021-05-05 21:41] davewatson91 commented on #24
Noting the impending blocking of custom components without a manifest, I've created a fork where I will do my best to get us to a point where it can be continued to be used.

Happy to work on any issues I can, and manage the fork, however am not a dev, so welcome any PR's.

[davewatson91/hass-amber-electric](https://github.com/davewatson91/hass-amber-electric)

[2021-05-05 21:41] davewatson91 commented on #20
Noting the impending blocking of custom components without a manifest, I've created a fork where I will do my best to get us to a point where it can be continued to be used.

Happy to work on any issues I can, and manage the fork, however am not a dev, so welcome any PR's.

[davewatson91/hass-amber-electric](https://github.com/davewatson91/hass-amber-electric)

[2021-05-05 21:49] davewatson91 commented on #19
@sjwright

I've created a fork which I hope to be able to maintain (also noting there are breaking changes next release which need to be fixed, and this repo hasn't moved since last year).

I've added your template onto the doco on my fork :)

[davewatson91/hass-amber-electric](https://github.com/davewatson91/hass-amber-electric)

[2021-05-05 21:52] davewatson91 commented on #21
@CRCinAU I'm sure there is.

Noting this repo appears dead, I've created a fork which I hope to keep updated. If you want to open an issue there, and have suggestions as to how we manage it, I certainly welcome the discussion. I haven't dug into it, but if this is correct, I suspect it will be impacting me (and our electricity usage too, as we automate things based on this component).

[davewatson

[2021-05-05 21:57] davewatson91 commented on #23
@bengAThome

Noting this repo appears dead, I've created a fork which I intent to try and maintain moving forward.

I've added your suggestions to the doco, let me know if it needs more (was super rough sorry, just wanted to get it in). Also welcome a PR if you want to update it yourself! :)

[davewatson91/hass-amber-electric](https://github.com/davewatson91/hass-amber-electric)

[2021-05-05 21:58] davewatson91 commented on #22
@CRCinAU

Would be great to get this request captured in my fork if you'r wanting to help work on it?

[davewatson91/hass-amber-electric](https://github.com/davewatson91/hass-amber-electric)

[2021-05-16 01:34] micarex commented on #24
This integration is working well for me.  I have created automations for my solar/battery installation using HA and I use this integration to determine when to send energy to the grid (from my battery) or when to charge the battery from the grid.  I also send the sensor data to Influx DB so I can create graphs of the pricing when the standard HA ones aren't up to it.
I was just about to get workin

[2021-05-16 02:21] davewatson91 commented on #24
Not a worry at all.

Really interested how you're controlling the load between sending and pulling from the grid - something I've looked into, but hadn't worked out yet.....

[2021-05-16 02:40] micarex commented on #24
I'm using the HA Automations to check when the state of the Amber sensor is above/below a certain price and then I use [modbus](https://www.home-assistant.io/integrations/modbus/) to get my Fronius inverter to tell the battery to charge/discharge.  Took me a few months of research and some discussions with Fronius support to figure out how to do this, but turns out the Fronius has hundreds of cont

[2021-05-16 03:30] bengAThome commented on #24
That is awesome work micarex.

I don't have solar, but I do have a Powerpal, so I'm hoping to integrate it.
Then  I can use the realtime data from Powerpal and the predictive data from Amber to guide decisions on whether to put the aircon on or the dryer, oven etc.

[2021-05-16 04:55] micarex commented on #24
I just took at look at Powerpal.  Seems they don't yet have an API (or other integration method) to be able to read data from the device in real time, but they are considering creating an API.
https://support.powerpal.net/hc/en-us/articles/360053641894-Can-I-export-data-from-Powerpal-and-is-there-an-API-available-

Do you know of any way to get the data from the device?  It looks like the only way

[2021-05-16 05:05] micarex commented on #24
I just looked through the HA docs and found that there is a [file reader integration](https://www.home-assistant.io/integrations/file#sensor) as well.  I haven't used this but it looks like it would do the job if you have a way to regularly download the data from the Powerpal to a directory.

Alternatively you could use the [Command Line sensor](https://www.home-assistant.io/integrations/sensor.co

[2021-05-16 09:23] bengAThome commented on #24
Yep. I've applied for access to the API beta, waiting to hear back from
them.

Fallback would be the file export route.
I was thinking maybe running an android emulator with the Powerpal app
installed and scraping the numbers.

But, to be honest I think I'd rather build an esphome smart metre reader :)

On Sun, 16 May 2021, 2:56 pm micarex, ***@***.***> wrote:

[2021-05-16 19:58] davewatson91 commented on #24
What a setup!

How are your relays setup from the inverter? - I imagine that the loads are quite high on these? - I was looking into having a series of contactors installed on teh switchboard, then controlling these with either smart plugs or a microcontroller.

[2021-05-16 22:28] micarex commented on #24
The Fronius inverters have a set of 4x12v relays that can control contactors in the switchboard.  Refer this [paper](https://www.fronius.com/~/downloads/Solar%20Energy/Technical%20Articles/SE_TEA_Quick_Guide_Energy_Management_Function_on_Fronius_Datamanager_2.0_EN_AU.pdf).   I was surprised to find that almost nobody uses this functionality.  I have been part of the Fronius beta program for their

[2021-05-16 22:45] davewatson91 commented on #24
That's actually really good.

I will have to look into this - I've been tossing around with the idea of using a decent size UPS to do this, but hadn't worked out how to manage the load back/forth to the grid.

The Fronius looks like a decent system with some serious capabilities - it would suit that perfectly. I think my biggest hurdle is finding a sparky who is willing to do a bit of a more 'inte

[2021-05-16 23:00] micarex commented on #24
Yes the sparky bit is definitely a challenge.  I spoke to a few on my journey and some of them just thought I was barking mad and wouldn't go near it, and other just couldn't understand what I was trying to do.  WRT to the Fronius Smart Meter, unless you have a Fronius Inverter it may not be the right device for your solution.  As best I know the Smart Meter can only use MODBUS RTU rather than MOD

[2021-05-16 23:01] davewatson91 commented on #24
Yeah roger, understood.

Definitely got some more reading to do. Where did you go about finding all the information you needed along the way?

[2021-05-17 02:34] micarex commented on #24
Feels like I "read the Internet".  Some days I would spend 4-6 hours googling different solutions/articles/manufacturer specs etc.  I put it all together over a 6 month time frame.  Certainly learned a lot along the way.   I also managed to get contacts inside Fronius and Daikin (for air con) so that helped too.

[2021-05-18 02:29] bengAThome commented on #24
Ok, Powerpal got back to me, they say their API is still basically in Alpha so no timeline on when it will be available.

[2021-05-28 05:00] davewatson91 opened #25 "** ATTENTION **"
I have been in contact with Amber -> this API will be deprecated over a 6 month period, with a new API almost ready for release. One of the developers at Amber (creating the API, will also be developing (in his personal capacity I believe) an integration for Home Assistant.

[2021-05-29 11:54] bengAThome commented on #25
Interesting development!

On Fri, 28 May 2021, 3:01 pm David Watson, ***@***.***> wrote:

[2021-06-01 22:23] micarex commented on #25
I was in contact with them last week as well.  I noticed that during the recent price spikes in my area that the API was returning drastically different results to the app.  They confirmed that they have done a lot of recent work on the pricing in the app but haven't updated the API accordingly.   They then confirmed they are working on a new API but they didn't say one of their devs was going to

[2021-06-01 22:32] davewatson91 commented on #25
Have noticed the same - we've had some horrible spikes of recent - almost enough to question our change from our previous provider.... Having the API working would certainly help us with mitigating some costs, but it's hard to mitigate with hours of $1+ spikes per evening.

I suspect maybe he's not advertising it too much, as I suspect it will not be an official Amber integration? Hopefully it won

[2021-06-01 23:43] bengAThome commented on #25
Yeah these spikes have been challenging, I was thinking the same that it
might be better to go back to single tariff.
However the average still seems to be working out.
I hope whoever at Amber that does the Dev work engages with us though, and
does not just do it on their own...

On Wed, 2 Jun 2021, 8:33 am David Watson, ***@***.***> wrote:

[2021-06-01 23:54] madpilot commented on #25
I'm the Amber Dev 👋

[2021-06-02 00:12] madpilot commented on #25
Once I've got something that I can start showing you all, I will. The plan is to have it part of Home Assistant core, rather than a custom component, but to start with a custom component makes the most sense, but that won't happen until we finish the API work, which is close, but we are a small team, and my attention is diverted on almost a daily basis.

Big ups to @lewisbenge for getting this com

[2021-06-02 00:23] bengAThome commented on #25
Great to hear Myles!
I agree, the current API isn't perfect, but I am manually using it as a
check before using power hungry devices, like dryers etc
I'm working on using RGB LEDs to provide a traffic light style indication
near all these devices, with a bit of extra intelligence.
Eg green for cheap etc, but also have them animate the direction. Eg green
going Amber red to indicate the price direc

[2021-06-02 00:29] madpilot commented on #25
The new API will have 24-hour delayed usage, but we don't have access to real-time at the moment. For reactive real-time (ie, how much power are you using this instant) Powerpal or Eagle 200 (or similar) or getting a battery with an API are your best bet

[2021-06-02 00:45] davewatson91 commented on #25
I've actually just setup ESPHome on an ESP32 to use the [CircuitSetup board](https://circuitsetup.us/product/expandable-6-channel-esp32-energy-meter/). I have to admit that this is the best bit of energy monitoring that I've ever used - its accurate, configurable and running ESPHome make it super easy. I will be interested to pull the stats in, but the 24hr delay is still OK for that, so long as t

[2021-06-02 00:56] madpilot commented on #25
Nice! I'm investigating using Zigbee to talk to my smart meter, as it's non-intrusive. However, my meter is quite far from my house and has (ironically) no power, so the Eagle 200 won't work. I'm looking at homebrewing something, possibly solar powered.

[2021-06-02 01:01] bengAThome commented on #25
That's a nice board! Definitely an option once I can afford it :)
Powerpal us a great device, but no API.
The 24hr delay is fine for me too.
It's the spot price that I'd like to be 💯 accurate.

On Wed, 2 Jun 2021, 10:45 am David Watson, ***@***.***> wrote:

[2021-06-02 01:06] davewatson91 commented on #25
Unfortunately the smart meter I have doesn't have the Zigbee option, only GSM from what I could dig up :( That was ultimately my first goal. The beauty of the CircuitSetup board is that I can manage individual circuits, and take into account power factor, reverse current and such. Example of how I'm currently setup (although not my final intent, just the quick and dirty to get up and running). I'v

[2021-06-02 01:14] bengAThome commented on #25
That looks 1000 times better than my dashboard lol.

On Wed, 2 Jun 2021, 11:06 am David Watson, ***@***.***> wrote:

[2021-06-02 01:23] madpilot commented on #25
How is everyone writing their automations? YAML, UI, NodeRed, Appdaemon, other?

[2021-06-02 01:28] davewatson91 commented on #25
I migrated to NodeRed about 6 months back, and surprisingly haven't looked back. Running HA / NodeRed in Docker (amongst 20 other containers).

[2021-06-02 01:31] bengAThome commented on #25
Mixture some Yaml, some node-red.
Plus use grafana for those sweet graphs :)

On Wed, 2 Jun 2021, 11:28 am David Watson, ***@***.***> wrote:

[2021-06-04 06:58] mikemortimer opened #26 "2021.6 amber_electric component won't run, requires version in manifest"
Been warning for a while that custom components need the version in the manifest otherwise they'll be unsupported on 2021.6 - well, time has come. Should be a pretty quick fix...?

[2021-06-04 06:59] davewatson91 commented on #26
read through all the issues please.

[2021-06-05 08:03] talikarng commented on #26
Particularly read issue #25 - the API that underpins this repo is being retired. We'll have to wait for the new one which is hopefully not too far away.

[2021-06-06 00:42] micarex commented on #25
I'm currently using the UI for my automations but I'm in the process of adding AppDaemon because I need to execute more complex logic than what the HASS automations allow.  I also need to send REST APIs calls with Digest authentication to my Fronius inverter from a script and as best I can tell, there's nothing in HASS that can do this at the moment.

I'm switching hot water heating, reverse cycle

[2021-06-06 01:23] davewatson91 commented on #25
@micarex intrigued as to how you're controlling the flow to/from the grid?

Why the appdaemon vice something like NodeRed?

[2021-06-06 01:34] micarex commented on #25
I probably could use node red and write my complex logic in js.  However I've already written quite a lot of python code to do what I want.  I wrote it before I discovered HASS so I figure it is easier for me to keep going with python.  I'm in the process of writing a trading algorihtm which detects the best price ranges during the day to buy and sell energy and then I need to control the relays t

[2021-06-06 01:54] micarex commented on #25
I found that one of the unintended consequences of setting the battery to discharge to grid is that the Fronius inverter then turns on my hot water and aircon relays at the wrong time because the smart meter tells the Fronius that there is excess energy flowing to the grid and under normal circumstances this means I have excess solar going to the grid so I want to consume the energy via hot water

[2021-06-06 03:39] mikemortimer commented on #26
Yes, thanks - I did. It takes literally 2 seconds to add one line to the manifest so that people using this now can continue until then

[2021-06-06 06:57] davewatson91 commented on #26
It has been added - in the fork that is mentioned in basically every other issue - unfortunately the original hasn't been udpated in quite a while.

https://github.com/davewatson91/hass-amber-electric

[2021-06-06 08:36] davewatson91 commented on #25
So they're the same logic pains that I'm running through now. Balancing it with trying to make sure that the hot-tub and hot water service get enough periods of running throughout the day to stay hot, while trying to optimise using the cheapest prices..

What sort of battery storage are you running with the fronius? I've been tossing up with this as the next logical step....

The direction of flow

[2021-06-06 08:41] davewatson91 commented on #25
What model Fronius are you running?

[2021-06-06 08:48] micarex commented on #25
I have two.  A Primo 4.0kw and I also have a Primo Gen24 6.0kw hybrid inverter.  I am on the beta program for the Gen24 and the largest model they make is 6.0kw at the moment, so I had to get the Primo 4.0 to make a 10kw system (with 12.54kw of panels).  I use the Gen24 for all the smart stuff because it has much more advanced power control.  Having said that, most of the stuff I'm doing can also

[2021-06-06 08:51] micarex commented on #25
Refer https://www.mcelectrical.com.au/wp-content/uploads/2017/02/Fronius_Feature.x29689.pdf page 5 for the basic concept.  The Fronius inverters have 4 inbuilt 12v relays that can be use to control contactors to switch 240v loads.

[2021-06-06 08:55] micarex commented on #25
I am using a [BYD Battery Box HVM 11.04kwh](https://bydbatterybox.com/uploads/downloads/BYD%20Battery-Box%20Premium_Datasheet_HV-AU%20V1.2%20EN-5eec6422498ad.pdf) battery.  This is the Fronius recommended battery for use with the Gen24 inverters now that they don't produce batteries themselves.

[2021-06-06 09:04] micarex commented on #25
Can you elaborate on the direciton of flow issue.  I can tell direction of flow using my Fronius Smart meter.  Power values are negative or positive depending on direction of flow.  Refer Power Grid guage in the screen shot I posted.  It shows +1016.88w where one I have taken just now shows negative.

![image](https://user-images.githubusercontent.com/26860101/120918875-1a484680-c6fa-11eb-958a-553

[2021-06-06 09:09] davewatson91 commented on #25
Yeah ok - so that's the same, and you have the same generation stats - why not roll those metrics as a conditional check into the automations for the relays? (i.e. if producing x watts, don't turn off, or if feed in tarrif is high, don't turn on, to maximise production).

[2021-06-06 09:24] micarex commented on #25
I'm already doing some checks of metrics in the HA automations, but there's a more fundamental limitation that I came across.

The problem is that the Fronius relay setting are not that sophisticated.  And HASS can't actually control the relays directly because there is no published REST API or MODBUS commands to control the relays.   You just set the values in the UI.  e.g.

![image](https://user

[2021-06-07 03:56] davewatson91 commented on #25
yeah wow - I missed the fundamental piece about the relays not being externally controllable.

I will be bookmarking this, after reading up on the fronius, it looks like it may fit the bill for what I need.....

Thanks!

[2021-06-07 06:11] bengAThome commented on #25
Just curious, how will you go with the remote power grid control?
Where they will turn off your export if the grid gets unstable.

On Mon, 7 Jun 2021, 1:57 pm David Watson, ***@***.***> wrote:

[2021-06-07 10:15] micarex commented on #25
Thankfully this doesn't happen in Vic yet.  But if it does get introduced the Fronius Gen24 inverter supports it via the built in Demand Response Modes.  I haven't thought much about it, but I would likely compare the PV production against the amount going to the grid and ramp up my consumption based on whatever the grid refuses to take.  I might be able to read the DRM modes via MODBUS as well to

[2021-06-07 23:37] mikemortimer commented on #26
Ah, fair enough. I'll take a look at the fork, thanks. Although I might just disable it for now, the API doesn't seem to be showing the same as the app real time at all anymore (showing 62c currently when the app is showing 25... so it looks like it's just completely unusable now anyway 😢

[2021-06-07 23:37] #26 closed, assigned to nobody

[2021-06-09 02:32] gorillica commented on #25
@davewatson91, how did you set up your Lovelace dashboard, particularly the graph of price prediction? I've been wracking my brains over that!

Glad to hear that there’s the prospect of progress with the new API, @madpilot! I'm only a new Amber customer (haven't even had a smart meter installed yet), but am looking forward to getting automations in Node-Red to turn off high-draw devices (ACs, floo

[2021-06-09 08:00] davewatson91 commented on #25
It's certainly not mine! - Credit comes from here: https://community.home-assistant.io/t/apexcharts-card-a-highly-customizable-graph-card/272877/48

My lovelace code below:

[code]

[code]

[2021-06-09 08:24] bacco007 commented on #25
That's my setup! :)

I hope it still works I haven't had a chance to look at it recently

[2021-06-09 08:26] davewatson91 commented on #25
Thanks for sharing originally - certainly working for me still!

[2021-06-10 01:26] gorillica commented on #25
Thanks, @davewatson91 and @bacco007! That's really helpful. I've been meaning to try the Apex Charts card, but have been a bit daunted. I've got the historic data showing now, but will need to fiddle, as your data generator for the forecasts doesn't seem to be working for me on first try…

[2021-06-10 04:26] kcam6690 opened #27 "MP3 download not working"
When i try to upload a MP3 on Magento a alert comes up saying true but will not save on the website. can anyone help me?

[2021-06-12 04:07] J-Lich commented on #25
Thanks @bacco007! Still using your setup also. works well.
Keen to see this new API and what it brings!

![Screenshot_2021-06-12 13 32 46_5vGP16](https://user-images.githubusercontent.com/13187191/121764457-3711cd80-cb83-11eb-97b7-0ca8a9b17fe7.png)

[2021-06-14 06:45] chiefcomm commented on #25
Hi @davewatson91 I'm interested in the [CircuitSetup board](https://circuitsetup.us/product/expandable-6-channel-esp32-energy-meter/).   Did you source locally or from the US?   Ultimately what power supply did you go with as I do not want to blow mine apart when it arrives :-)  I should add I'm in Australia therefore need a AU power supply...

[2021-06-14 10:43] davewatson91 commented on #25
Sourced straight from the US.. Shipping was quite painful, and got held up in customs for a fortnight in Aus.

Power supply was a [nice easy one from Jaycar](https://www.jaycar.com.au/9vac-1a-unregulated-power-supply-7dc-plugs/p/MP3027) - worked a treat. Running ESPHome on mine, and doing the rest in Home Assistant.

[2021-06-22 03:08] adampetrovic commented on #25
Is this the new API we're looking for? cc @madpilot

https://app.amber.com.au/developers/

[2021-06-22 03:14] madpilot commented on #25
Yup.

I should have a new HA component in the next day or two. Unfortunately the Python OpenAPI generator did a hatchet job, so I needed to build the interface manually

[2021-06-22 03:16] davewatson91 commented on #25
Wow, super impressed with your turnaround. Looking forward to it!

Thankyou very much!

[2021-06-22 05:38] chiefcomm commented on #25
Legend love your work, can't wait to start using it.
Thanks

[2021-06-22 06:37] madpilot commented on #25
Here's a really early cut: https://github.com/madpilot/hass-amber-electric

![image](https://user-images.githubusercontent.com/19585/122875279-6391ca80-d377-11eb-8ff2-454c2a8099d0.png)

It's not really well tested yet, but i you are feeling lucky, install it and start giving me feedback (on the other repo).

If you aren't a dev, this may very well break, so maybe wait until it's a little more stab

[2021-06-22 06:44] davewatson91 commented on #25
About to have a play.
Looks like issues aren't open on your new repo.

Also because you forked it from the other one, I can't work out how to fork it again (since this is already a fork) - wanted to update the API url on the instructions (url should be https://app.amber.com.au/developers/ I believe)

[2021-06-22 06:45] madpilot commented on #25
Just turned them on

[2021-06-22 07:49] bengAThome commented on #25
Fantastic news! I'm not able to test it for a couple if weeks but will
definitely give it a shot as soon as I can.

On Tue, 22 Jun 2021, 4:46 pm Myles Eftos, ***@***.***> wrote:

[2021-06-23 01:56] mikemortimer commented on #25
@madpilot 🙏  awesome work! working really really well

[2021-06-23 08:28] bacco007 commented on #25
Bugger - looks like I cant move across, was tracking the cost to see how it aligned with our usage before committing - now you need an account to log in.

Good work though!  Good to see it get some support

[2021-06-23 08:45] chiefcomm commented on #25
@madpilot this is terrific, love your work.
![image](https://user-images.githubusercontent.com/45157523/123066102-1aaf4400-d453-11eb-96ad-76f66493188a.png)

[2021-06-23 21:35] davewatson91 commented on #25
@chiefcomm how did you handle the time zones in your data_generator for the forecast chart?

[2021-06-23 23:02] chiefcomm commented on #25
@davewatson91 I used "nem_date" as the time it seemed to work OK, as the UTC times aren't working correctly as per your issue #11 Time Zones.

            data_generator: |
              return entity.attributes.forecasts.map((entry) => {
                return [new Date(entry.nem_date), entry.per_kwh];
              });

[2021-06-23 23:09] davewatson91 commented on #25
Exactly how I did it - thought you may have had a different solution. Thanks!

Some related [discussion here](https://github.com/madpilot/hass-amber-electric/issues/11) for timezone explanations.

[2021-06-23 23:14] madpilot commented on #25
FYI There was a bug in the startTime and endTime field, they were set to UTC-10, rather than UTC.

It's fixed now, which I suspect will fix whatever the subtext of your previous comment is @davewatson91  😆

@chiefcomm I assume you are basing those times off the newTime field? If so, all good (note: NEW time is always UTC+10: no daylight savings). If you are using the start_date, things might shift

[2021-06-23 23:14] madpilot commented on #25
Ah, I see you all worked that out yourselves. Point is - start and end dates are now in the correct UTC

[2021-06-23 23:15] davewatson91 commented on #25
Thanks - you're a gun @madpilot

[2021-06-27 02:36] micarex commented on #25
Awesome work @madpilot .  I've converted over to the new API and all is working well.  My automations will be much happier now with the more accurate price.

Does anybody have a way to show the forecast prices for future intervals in a card in the HA UI?  Similar to what we see on the Amber site?

[2021-06-27 02:38] madpilot commented on #25
I'm planning on doing a custom card, but that might be awhile, as it's the bottom of my todo list 😉

[2021-06-27 02:42] micarex commented on #25
@madpilot , I also have a feature suggestion for next version if you are continuing to develop it.  It would be good to have variables for the future forecast periods which represent the highest and lowest forecast values.  These can then be used in Automations to understand whether the current price and forecast price are higher or lower than the values in the subsequent forecast periods.  So by

[2021-06-27 02:44] micarex commented on #25
Just realised you might have already done what I was looking for @chiefcomm.  How did you add the predicted values to the graph card, and which graph card are you using to do that?  That's an great visual.

[2021-06-27 02:46] madpilot commented on #25
Yeah, I had rough plans for something similar, as well as min and max rolling windows, ie time until cheapest 2 hour window, time until the most expensive 4 hour window, which should simplify some prediction stuff for starting long running devices like dishwashers or dryers.

[2021-06-27 02:47] micarex commented on #25
Yes that would indeed be really useful.

[2021-06-27 03:29] chiefcomm commented on #25
I'm using Apex Charts https://github.com/RomRider/apexcharts-card configuration is below.

### Start of Apex Chart Configuration
      - type: custom:apexcharts-card
        graph_span: 30h
        header:
          show: true
          title: "Amber Price 24hrs"
          show_states: true
          colorize_states: true
        now:
          show: true
          color: red
          label: Now

[2021-06-27 03:35] adampetrovic commented on #25
The above configuration updated to use the new integration by @madpilot

[code]

[2021-06-27 03:37] chiefcomm commented on #25
@micarex I'm using Apex Charts https://github.com/RomRider/apexcharts-card configuration below.  I use start_time as opposed to nem_date also ignore the times as my PC is set to France Time.

      ### Start of Apex Chart Configuration
      - type: custom:apexcharts-card
        graph_span: 30h
        header:
          show: true
          title: "Amber Price 24hrs"
          show_states: true

[2021-06-27 04:38] bengAThome commented on #25
Wow. I thought graphana was good...yet another thing to try out :)

On Sun, 27 Jun 2021, 1:37 pm chiefcomm, ***@***.***> wrote:

[2021-06-27 09:06] micarex commented on #25
Thanks for sharing @chiefcomm .  Definitely going to be using Apex Charts more.  Very neat.

[2021-07-12 04:36] bengAThome commented on #25
Both the Apex Charts from @chiefcomm and the Amber Electric integration from @madpilot work really well.
I'm using the Dev version of HA with no problems.
I did have to restart HA OS to get the AE integration to show up. (probably because I had the old integration.)
Oh, and if anyone cuts and pastes @chiefcomms excellent code, If you are using the web lovelace gui, you need to remove the first "-"

[2021-07-12 05:47] bengAThome commented on #25
One odd thing I notice is that the renewables forecast data is stored in the same table as the per/kW forecast data.
So when you mouse over the renewables, the value is correct, but its not displaying it as a %. Really minor issue though.
![image](https://user-images.githubusercontent.com/82250031/125236798-e8915380-e327-11eb-92b2-6440a2fb67c9.png)

[2021-07-14 03:15] bjeanes commented on #25
@micarex oh my this is exactly what I want to do in my house which I just bought. It doesn't yet have battery/solar and I've been trying to find out what batteries will let me programmatically charge from grid, discharge to grid, or float to match house demand.

I take it from your comment your Fronius set up works for all that. Are you happy with that option? Did you explore others? I've been sur

[2021-07-14 06:25] bjeanes commented on #25
So when you mouse over the renewables, the value is correct, but its not displaying it as a %. Really minor issue though.

I've got an updated card definition here which fixes that. It also adds a second y-axis for `%` and pins it to `min: 0` and `max: 100`.

![image](https://user-images.githubusercontent.com/2560/125573541-e8ed4573-c395-4e91-be65-147fbc42b66a.png)

[code]

Obviously, replace with

[2021-07-16 09:54] micarex commented on #25
@bjeanes I'm pretty happy with the Fronius gear.  I also found that the info on how to do this is very sparse and scattered around the Internet.  I ressearched for days around various solutions.  At the time SMA also had some options but Fronius seemed to have the best overall possibilities and their Gen24 Hybrid inverter seemed to be industry leading in many respects.  I managed to get on their b

[2021-07-16 11:01] micarex commented on #25
@chiefcomm, I've modified the card you provided to include some of my battery and PV info.  I'm now using this for my kitchen display.  Thanks again.

![image](https://user-images.githubusercontent.com/26860101/125938382-714387f0-9127-4aea-8a12-6e5bc1d17f27.png)

Here's the code in case it helps anyone else.

type: custom:apexcharts-card
graph_span: 24h
header:
  show: true
  title: 35 Tennyson So

[2021-07-16 22:33] bjeanes commented on #25
I definitely would love to see more, but I'm still a few months away from having solar and batteries installed (at minimum) so not particularly urgent. I think it'd be a pretty great community contribution generally to have that stuff documented though!

[2021-07-17 07:00] micarex commented on #25
@bjeanes here the basics of how to use MODBUS over TCP with a Fronius inverter.  You can download the Fronius MODBUS codes and also the REST API spec from the Fronius web site at this [page](http://fronius.com.au/en-au/australia/solar-energy/installers-partners/technical-data/all-products/system-monitoring/open-interfaces/modbus-tcp).

Note:  The GEN24 inverter codes are slightly different to the

[2021-07-17 07:17] micarex commented on #25
In case anyone finds it useful, I also recently came across this HACS based power distribution card for solar and battery installations which shows 4 ways flow of energy.

![image](https://user-images.githubusercontent.com/26860101/126093853-cfc936a3-7f6b-49fb-8603-e592b96e0994.png)

Here's my config if you want to copy it.

type: custom:power-distribution-card
title: Solar and Battery Monitor
ent

[2021-07-18 20:27] davewatson91 commented on #25
This is great work @micarex - something I will definitely be playing around with when I get some time for the front end - only suggestion is that you maybe take your address out of the screenshot :)

[2021-07-31 00:42] micarex commented on #25
Hi folks, I'm using the new Amber integration and some time in the last week the feed in values have stopped populating.  Has anyone else had this issue?  Wondering if it is a local installation problem or whether the integration has been modified to remove the feed in price?

Here's what I see:
![image](https://user-images.githubusercontent.com/26860101/127723366-7ccd2852-ceb4-422f-b24e-561e28072

[2021-07-31 00:49] bengAThome commented on #25
Unfortunately I don't run those sensors as I have neither battery nor
solar. But if you navigate the the Amber API page. Can you manually trigger
those values?
I did that initially when I had a typo in my setup.
Cheers Ben

On Sat, 31 Jul 2021, 10:43 am micarex, ***@***.***> wrote:

[2021-07-31 01:10] micarex commented on #25
I can see the values coming back in postman for https://api.amber.com.au/v1/sites/{site ID}/prices/current  e.g.

![image](https://user-images.githubusercontent.com/26860101/127723899-e73a7737-fe20-4e86-ae9e-903be094b623.png)

Do you see the feed in and controlled load values in the Developer Tools in HASS?  I don't see any feed-in or controlled load values so the sensors aren't being populated fo

[2021-07-31 01:18] madpilot commented on #25
I'm not near a computer right now, but are you in Victoria?

There has been a Tarif change that has caused some issues in our end. Which should resolve itself in Monday, however I may need to run a manual job to update your account.

Email your account details to info@amber.com.au and it'll update your account when I get home.

[2021-07-31 01:22] madpilot commented on #25
Put "Attn: Myles" in the subject line.

[2021-07-31 01:39] micarex commented on #25
Yes I'm in Vic.  thanks I'll do that.  Much appreciated.

[2021-08-13 19:11] darren365 commented on #24
Discussions have been enabled for the repository
Closing "Issue". Kick off some chat in the Discussions area using this link.

https://github.com/lewisbenge/hass-amber-electric/discussions

[2021-08-13 19:11] #24 closed, assigned to nobody

[2021-08-13 19:14] darren365 commented on #27
Seems to not relate to HASS and Amber Electric.

[2021-08-14 03:53] micarex opened #33 "Doc link from amber integration goes to missing web page"
I just noticed the Documentation link from the Amber Integration takes you to an invalid web page.

Choosing the documentation option

![image](https://user-images.githubusercontent.com/26860101/129433221-203b1073-a652-426c-8a62-0644e31d3a1f.png)

Takes users to

![image](https://user-images.githubusercontent.com/26860101/129433237-7eb10d86-75cf-4e2b-adb6-71b030ceee99.png)

Something to fix in nex

[2021-09-13 03:34] craigcurtin-dev commented on #25
Hey Very interested in this also - i have embarked on the same journey also - but using GoodWe Inverters and Alpha ESS batteries

I am documenting what i find on Whirlpool.

I am doing all my stuff in Node Red.

Have you worked out your round trip cost for batteries at this point ? i.e. where is your breakeven point to buy/sell - mine is 4.7c KW/H (which also includes all the hardware (inverters)

[2021-09-28 23:31] madpilot commented on #25
FYI: An official integration has been accepted into Home Assistant. It should be in tomorrow's beta release, with a full release in two weeks (version 2021.10).

However, there is some breaking changes. See: https://github.com/madpilot/hass-amber-electric

[2021-09-28 23:33] craigcurtin-dev commented on #25
Great work Myles.

I was just reading through the thread on HA and then jumped across to your Github on this less than 5 minutes ago !

Craig

From: Myles Eftos ***@***.***>
Sent: Wednesday, September 29, 2021 9:31 AM
To: lewisbenge/hass-amber-electric ***@***.***>
Cc: Craig Curtin ***@***.***>; Comment ***@***.***>
Subject: Re: [lewisbenge/hass-amber-electric] ** ATTENTION ** (#25)

FYI: An offic

[2021-09-29 01:22] chiefcomm commented on #25
Fantastic news @madpilot thanks for your support and efforts to bring this home :-)

[2021-09-30 00:53] chiefcomm commented on #25
@madpilot thanks for you wonderful support for this integration.  I'm wondering would all sensor names be the same in the official integration?  Also are the units in the forecast shifting to $/kWh in line with the sensors?   I'll shift to the official integrations as soon as released - assuming I have no breaking changes in other areas :-)

[2021-09-30 01:08] madpilot commented on #25
@chiefcomm The price and forecast sensor names will be the same, which does cause a _subtle_ issue with history - there will be a two order of magnitude drop when you change over.

The price spike sensor is now called binary_sensor.[integration name]_price_spike

All the prices in the state will be $/kWh - the prices in the attributes are c/kWh.

It's a bit annoying, but it better fits in with the

[2021-09-30 01:20] chiefcomm commented on #25
Thanks @madpilot I already updated the custom integration and yes I had to remove and re-add but that's no big deal in the scheme of things.
Good to know the details how it will be implemented, whether in c/kWh or $/kWh isn't all that relevant as adding multipliers isn't a big deal and to me history isn't so important the prediction is what I am most interested in.
Timing could not be better as I'

[2021-09-30 01:33] madpilot commented on #25
Are you being hit with Covid delays? Smart meter installs have been a bit of a pain lately because of that. But yes - that is great timing!

[2021-10-25 06:27] chiefcomm commented on #25
@madpilot is there an issue with the integration?   I noticed the sensors related to feed in price disappeared sometime in the last few days.

[2021-10-25 07:02] madpilot commented on #25
More likely an issue with your account - can you email info@amber.com.au and I'll have a look.

[2021-10-25 07:22] chiefcomm commented on #25
Thanks @madpilot I'll email you you to check the account - what you suggest makes sense I just noticed the Solar data missing in the App as well.  As I am not having data flowing into the app from Smart Meter as yet (it's 20days since Smart Meter install) this could be all related.

[2021-10-25 07:29] madpilot commented on #25
Ah, a meter reconfigure. They sometimes mess with our data feed. Usually a pretty easy fix from our end though. I'll have a look for you in the morning